blockcypher==1.0.93
dj-database-url==0.5.0
dj-static== 0.0.6
Django==3.1.14
django-annoying==0.10.6
django-crispy-forms==1.9.0
django-debug-toolbar>=2.2.1
django-storages==1.9.1
gunicorn==20.0.4
jsonfield==3.1.0
newrelic==5.12.0.140
python-postmark==0.5.3
psycopg2==2.9.3
raven==6.10.0
requests==2.23.0
