{% load btc_formats %}
<div id="metadata">
  <div class="container" id="metadata-section" style="display:none;">
    <h2>
      BlockCypher Public Metadata
      {% url 'add_metadata' coin_symbol as base_url %}
      <a
        href="{% build_url base_url s=upload_string t=us_type k=metadata_key v=metadata_value %}"
        class="btn btn-default"
        >
        <i class="fa fa-code"></i> 
        Add Metadata
      </a>
      <a href="http://dev.blockcypher.com/#metadata-api" class="btn btn-default">
        <i class="fa fa-external-link"></i> 
        API Docs
      </a>
    </h2>
    <table id="metadata-table" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody id="metadata-tbody">
      </tbody>
    </table>
    <p id="metadata-empty-notice" style="display:none;">
      This page has no public metadata yet.
    </p>
  </div>
</div>
