/* Custom CSS here */

.bg-primary-gradient {
	background: #3f116b;
	/*6e35a5*/

	background: rgb(110,53,165); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(110,53,165,1) 0%, rgba(63,17,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(110,53,165,1)), color-stop(100%,rgba(63,17,107,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(110,53,165,1) 0%,rgba(63,17,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(110,53,165,1) 0%,rgba(63,17,107,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(110,53,165,1) 0%,rgba(63,17,107,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(110,53,165,1) 0%,rgba(63,17,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e35a5', endColorstr='#3f116b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color:#fff;
	padding:100px 0;

}

/* Layout */
.main-container {
	margin-top:50px;
	padding: 0;
}

/* Header */
/* Navbar */
.navbar {
	border-bottom:1px solid #dad3dc;
	background: #fff;
	padding:6px 0;
}

/* Footer */
.main-footer {
	background: #000;
	padding:30px;
	color: #515151;
}
.main-footer a {
	color: #515151;
}
.main-footer .fa {
	font-size: 20px;
	text-decoration: none;
	padding-left: 5px;
}
/* Homepage */
.block-currency-logos {
	list-style: none;
}
.block-currency-logos>li {
	display: inline-block;
	margin:1em 1%;
}
.block-currency-logos>li>a {
	display: inline-block;
	overflow: hidden;
	height:116px;
	width:116px;
	line-height:116px;
	background:#ddd;
	white-space: nowrap;
	border-radius: 50%;
}