/* Custom CSS here */
.bg-white {
	background: #fff;
	color:#222;
}
.bg-primary {
	background: #59218c;
	color:#fff;
}
.bg-secondary {
	background: #0b8ed8;
	color:#fff;
}
.bg-primary-gradient {
	background: #6e35a5; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #6e35a5 0%, #3f116b 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6e35a5), color-stop(100%,#3f116b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #6e35a5 0%,#3f116b 100%); /* Chrome10+,Safari5.1+ */
	background: radial-gradient(ellipse at center,  #6e35a5 0%,#3f116b 100%); /* W3C */
	color:#fff;
}
.btn-primary {
	background: #0b8ed8;
	border-color:#0b8ed8;
}
.btn-xl {
	padding: 12px 70px;
	font-size: 1.4em;
	margin: 20px 0 0;
}
.truncate {
  min-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Layout */
body {
	background: #000;
}
.main-container {
	margin-top:50px;
	background: #fff;
}
.main-container.home {
	margin-top:50px;
	padding: 0;
}
.section {
	padding:20px 0;
}
.page-header {
	padding:60px 0;
}
.page-header .tagline {
	font-size: 1.2em;
	margin:0;
}
.dash {
	background: #f5f5f5;
	border-radius: 5px;
	padding:20px 0;
	border:1px solid #ddd;
}
.dash ul {
	list-style: none;
	padding:0;
}
.dash li {
	float:left;
	display: block;
	padding:10px;
	border-right: 1px solid #ddd;
	width:25%;
	font-size: 1.6em;
	text-align:center;
}
.dash li:last-child {
	border:0;
}
.dash .dash-label {
	font-size: .6em;
	text-transform: uppercase;
	color:#888;
}
.confirmed {
	color:#28D867;
}
.pending {
	color:#BFA01A;
}
.unconfirmed {
	color:#A8184F;
}
/* Header */
/* Navbar */
.navbar {
	border-bottom:1px solid #dad3dc;
	background: #fff;
	padding:6px 0;
}

/* Footer */
.main-footer {
	background: #000;
	padding:30px;
	color: #515151;
}
.main-footer a {
	color: #515151;
	text-decoration: underline;
}
.main-footer .fa {
	font-size: 20px;
	text-decoration: none;
	padding-left: 5px;
}
/* Homepage */
.search-filter .active,
.search-filter .active:hover {
	color:#fff;
	text-decoration: none;
	cursor: default;
}
.block-currency-logos {
	list-style: none;
}
.block-currency-logos>li {
	display: inline-block;
	margin:1em 1%;
}
.block-currency-logos>li>a {
	display: inline-block;
	height:120px;
	width:120px;
	background-size:120px 120px;
	padding-top:140px;
}
.block-currency-logos>li>a span {
	display: block;
	white-space: nowrap;
}
.btc {
	background: url(../img/Bitcoin.svg) center no-repeat;
}
.btc-testnet {
	background: url(../img/btc-testnet.svg) center no-repeat;
}
.ltc {
	background: url(../img/Litecoin.svg) center no-repeat;
}
.uro {
	background: url(../img/uro.svg) center no-repeat;
}
.bc-testnet {
	background: url(../img/bc-testnet.svg) center no-repeat;
}
.doge {
	background: url(../img/Dogecoin.svg) center no-repeat;
}
/* Transaction page */
.circle-chart {
	margin:10px auto;
	width:160px;
	height:160px;
	border-radius:50%;
	background:#fff;
	position:relative;
	overflow:hidden;
	border:1px solid #ddd;
	font-size:2em;
}
.circle-chart .val {
	position: absolute;
	width:100%;
	height:100%;
	line-height: 160px;
	text-align: center;
	text-transform: uppercase;
	display:block;
}
.circle-chart .fill {
	background:#0b8ed8;
	height:0;
	width:100%;
	position:absolute;
	bottom:0;
}
.circle-chart .fill.low {
	height:10%;
}
.circle-chart .fill.medium {
	height:50%;
}
.circle-chart .fill.high {
	height:90%;
}
.txn-input, .txn-output {
	border:1px solid #ddd;
	padding:20px 30px;
	margin-bottom:10px;
	position: relative;
	background: #fff;
	border-radius: 40px;
}
.txn-arrow {
	background: url(../img/txn_arrow.svg) center no-repeat;
	min-height:150px;
}
