{% extends "emails/base_email.html" %}

{% block content %}
Please click the following link to confirm your request for email notifications of the {{ cs_display }} address <b>{{ b58_address }}</b>:<br />
<a href="{% url confirm_subscription verif_code %}">{% url confirm_subscription verif_code %}</a>
<br/><br/>
{% endblock content %}

{% block ps %}
You were sent this email because you recently requested email notifcations from us.
If you didn't make this request, just ignore this email and you won't hear form us again.
Sorry for the inconvenience!
{% endblock ps %}
