{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}
{% load static %}

{% block title %}
    Upload Metadata
{% endblock %}

{% block page_header %}
  <h1>
    <i class="fa fa-send"></i> 
    Upload Metadata
  </h1>
  {% if address or tx_hash or block_hash %}
    <h2 class="tagline wrapit semi">
      to
      {% if address %}
        <a href="{% url 'address_overview' coin_symbol address %}" style="color:#fff;">
          {{ coin_symbol|coin_symbol_to_currency_name }}
          Address
          {{ address }}
        </a>
      {% elif tx_hash %}
        <a href="{% url 'transaction_overview' coin_symbol tx_hash %}"  style="color:#fff;">
          {{ coin_symbol|coin_symbol_to_currency_name }}
          Transaction
          {{ tx_hash }}
        </a>
      {% elif block_hash %}
        <a href="{% url 'block_overview' coin_symbol block_hash %}"  style="color:#fff;">
          {{ coin_symbol|coin_symbol_to_currency_name }}
          Block Hash
          {{ block_hash }}
        </a>
      {% endif %}
    </h2>
  {% endif %}
{% endblock page_header %}

{% block content %}

<div class="section">
  <div class="container">

    <div class="alert alert-info" role="alert">
      <i class="fa fa-exclamation-triangle"></i>
      Note: all data uploaded will be visible publicly and cannot be deleted.
      Do not upload private data.
    </div>

    {% load crispy_forms_tags %}
    {% crispy form %}

  </div>
</div>

{% endblock content %}
