{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}

{% block content %}
  
<div class="container">

<h1>{{ coin_symbol|coin_symbol_to_display_name }} Address</h1>


<div class="table-responsive">
  <table class="table table-bordered">
    <th colspan="2">Summary</th>
    <tr>
      <td>Address</td>
      <td>
        <a href="{% url 'address_overview' coin_symbol address %}">{{ address }}</a>
        {% if coin_symbol = 'btc' %}
          {# TODO: support this for other blockchains #}
          (<a href="bitcoin:{{ address }}">pay</a>)<br />
        {% endif %}
        <br />
        <img src="//chart.googleapis.com/chart?cht=qr&chl=bitcoin%3A{{ address }}&choe=UTF-8&chs=300x300" />
      </td>
    </tr>
    <tr>
      <td># Transactions</td>
      <td>
        {{ num_all_txns|intcomma }}
        {% if num_unconfirmed_txns %}
          ({{ num_unconfirmed_txns|intcomma }} transactions unconfirmed)
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Received</td>
      <td>
        {% if not has_more %}
          {{ total_received_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
          {% if unconfirmed_received_satoshis %}
            ({{ unconfirmed_received_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }} unconfirmed)
          {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Sent</td>
      <td>
        {% if not has_more %}
          {{ total_sent_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
          {% if unconfirmed_sent_satoshis %}
            ({{ unconfirmed_sent_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }} unconfirmed)
          {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Balance</td>
      <td>
        {{ total_balance_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
        {% if unconfirmed_balance_satoshis %}
          ({{ unconfirmed_balance_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }} unconfirmed)
        {% endif %}
      </td>
    </tr>
  </table>
</div>


{% if all_transactions %}

  <h2>{{ num_all_txns|intcomma }} Transactions</h2>

  <div class="table-responsive">
    <table class="table table-bordered">
      <th>Hash</th>
      <th>Amount</th>
      <th>Confirmations</th>
      <th>Time</th>
      <th>Block</th>
      <tr class="tx-row" style="display;none"></tr>
      {% for transaction in all_transactions %}
      <tr class="tx-row" id="{{ transaction.tx_hash }}">
          <td><a href="{% url 'transaction_overview' coin_symbol transaction.tx_hash %}">{{ transaction.tx_hash }}</a></td>
          <td>
            {% if transaction.tx_input_n >= 0 %}-{% else %}+{% endif %}
            {{ transaction.value|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
          <td>
            {% if transaction.confirmations %}
              {{ transaction.confirmations|intcomma }}
            {% else %}
              None
            {% endif %}
          </td>
          <td>
            {% if transaction.received %}
              {{ transaction.received|naturaltime }}
            {% else %}
              {{ transaction.confirmed|naturaltime }}
            {% endif %}
          </td>
          <td>
            {% if transaction.block_height %}
              <a href="{% url 'block_overview' coin_symbol transaction.block_height %}">{{ transaction.block_height|intcomma}}</a>
            {% else %}
              Pending
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% if has_more %}
        <tr><td colspan="3">...</td></tr>
      {% endif %}

    </table>
  </div>

{% else %}
  <p>No transactions detected. <a href="#">Sign up for alerts of future transactions</a>.</p>
{% endif %}

</div>

{% endblock content %}


{% block extra_js %}
  <script>

    $(document).ready(function(){

      var total_ws_received = 0;
      var MAX_WS_TO_RECEIVE = 1000;

      function create_ws() {
        console.log('Creating new websocket...');
        ws = new WebSocket('{{ coin_symbol|coin_symbol_to_wss }}');
      }

      create_ws();

      function send_ping() {
        // Send pings at regular interval:
        if (total_ws_received < MAX_WS_TO_RECEIVE) {
          console.log('Sending websocket ping...');
          ws.send(JSON.stringify({event: "ping"}));
          // Trigger self recursively
          setTimeout(send_ping, 20000);
        } else {
          console.log('Not sending ping because MAX_WS_TO_RECEIVE reached');
        }
      }

      ws.onmessage = function(evt) {

        var data = JSON.parse(evt.data);
        console.log('Websocket Received: ' + evt.data);

        // Weak protection against too much activity
        total_ws_received += 1;
        if (total_ws_received > MAX_WS_TO_RECEIVE) {
          ws.close();
        }

        if ( data.hash && $('#' + data.hash).length == 0 ) {

          var btc_rounded = satoshis_to_btc(data.total);

          if (data.tx_input_n >= 0) {
            sign_to_use = '+';
          } else {
            sign_to_use = '-';
          }

          var seconds_ago = convert_time_to_seconds_ago(data.received)
          var time_ago_formatted = format_seconds_ago(seconds_ago);

          new_tx_row = $('<tr>').attr('class', "tx-row").attr('id', data.hash).append(
            $('<td>').append($('<a>').attr('href', '/btc/tx/'+data.hash).text(data.hash)),
            $('<td>').text(sign_to_use + ' ' + btc_rounded+' BTC'),
            $('<td>').text('None'),
            $('<td>').text('Pending'),
            $('<td>').text('Pending')
          )

          $('.tx-row').first().before(new_tx_row);
          // New row effect:
          $('.tx-row').first().hide().fadeIn();

        }

      }

      ws.onopen = function() {
        console.log('Connection established.');
        ws.send(JSON.stringify(
          {
            'address': "{{ address }}",
            'event': 'unconfirmed-tx'
          }
        ));
        send_ping();
      };

      ws.onclose = function() {
        console.log('Connection closed');
        if (total_ws_received < MAX_WS_TO_RECEIVE) {
          console.log('Creating new websocket to replace old one...');
          create_ws();
        }

      };

    })

  </script>
{% endblock extra_js %}
