{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}

{% block content %}

<h1>{{ coin_symbol|coin_symbol_to_display_name }} Address</h1>


<div class="table-responsive">
  <table class="table table-bordered">
    <th colspan="2">Summary</th>
    <tr>
      <td>Address</td>
      <td>
        <a href="{% url 'address_overview' coin_symbol address %}">{{ address }}</a>
        {% if coin_symbol = 'btc_main' %}
          {# TODO: support this for other blockchains#}
          (<a href="bitcoin:{{ address }}">pay</a>)<br />
        {% endif %}
        <br />
        <img src="//chart.googleapis.com/chart?cht=qr&chl=bitcoin%3A{{ address }}&choe=UTF-8&chs=300x300" />
      </td>
    </tr>
    <tr>
      <td># Transactions</td>
      <td>
        {{ num_all_txns }}
        {% if num_unconfirmed_txns %}
          ({{ num_unconfirmed_txns }} transactions unconfirmed)
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Received</td>
      <td>
        {% if not has_more %}
          {{ total_recieved_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
          {% if unconfirmed_recieved_satoshis %}
            ({{ unconfirmed_recieved_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }} unconfirmed)
          {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Sent</td>
      <td>
        {% if not has_more %}
          {{ total_sent_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
          {% if unconfirmed_sent_satoshis %}
            ({{ unconfirmed_sent_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }} unconfirmed)
          {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Balance</td>
      <td>
        {{ total_balance_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
        {% if unconfirmed_balance_satoshis %}
          ({{ unconfirmed_balance_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }} unconfirmed)
        {% endif %}
      </td>
    </tr>
  </table>
</div>


{% if all_transactions %}

  <h2>Transactions</h2>

  <div class="table-responsive">
    <table class="table table-bordered">
      <th>Hash</th>
      <th>Amount</th>
      <th>Confirmations</th>
      {% for transaction in all_transactions %}
        <tr>
          <td><a href="{% url 'transaction_overview' coin_symbol transaction.tx_hash %}">{{ transaction.tx_hash }}</a></td>
          <td>
            {% if transaction.tx_input_n >= 0 %}-{% else %}+{% endif %}
            {{ transaction.value|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
          <td>{{ transaction.confirmations|intcomma }}</td>
        </tr>
      {% endfor %}
      {% if has_more %}
        <tr><td colspan="3">...</td></tr>
      {% endif %}

    </table>
  </div>

{% else %}
  <p>No transactions detected. <a href="#">Sign up for alerts of future transactions</a>.</p>
{% endif %}

{% endblock content %}
