{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}

{% block title %}
  {% blocktrans with currency_name=coin_symbol|coin_symbol_to_currency_name block_hash=block_details.hash %}
    {{ currency_name }} Block {{ block_hash }}
  {% endblocktrans %}
{% endblock title %}

{% block page_header %}
  <h1>
    <i class="fa fa-cube"></i> 
    {{ coin_symbol|coin_symbol_to_display_name }} Block {{ block_details.height|intcomma }}
  </h1>
  <h2 class="tagline wrapit semi">({{ block_details.hash }})</h2>
{% endblock page_header %}

{% block content %}
<div class="container">
  <nav>
    <a href="{% url 'block_overview' coin_symbol block_details.prev_block %}" class="btn btn-default pull-left">
      <i class="fa fa-angle-double-left"></i> 
      Previous Block
    </a>
    {% if block_details.depth > 0 %}
      <a href="{% url 'block_overview' coin_symbol block_details.height|add:1 %}" class="btn btn-default pull-right">
        Next Block
        <i class="fa fa-angle-double-right"></i>
      </a>
    {% else %}
      {# TODO: something to mark that this is the current block? #}
    {% endif %}
    <div class="clearfix"></div>
  </nav>

  <div class="section">
    <div class="dash dash-3">
      <ul>
        <li>
          <span class="dash-label">Received</span><br>
          <i class="fa fa-clock-o"></i> 
          {{ block_details.received_time|naturaltime }}
        </li>
        <li>
          <span class="dash-label">Total Transacted</span><br>
          {{ block_details.total|satoshis_to_btc_full|floatformat:"0"|intcomma }} {{ coin_symbol|coin_symbol_to_currency_name }}
        </li>
        <li>
          <span class="dash-label">Total Fees</span><br>
          {{ block_details.fees|satoshis_to_btc_rounding }} {{ coin_symbol|coin_symbol_to_currency_name }}
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>

  <p class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#advanced-details">
      Advanced Details 
      <b class="caret"></b>
    </button>
  </p>

  <div class="col-md-12 collapse" id="advanced-details">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Nonce</th>
          <td>
            {{ block_details.nonce }}
          </td>
        </tr>
        <tr>
          <th>Merkle Root</th>
          <td>
            {{ block_details.mrkl_root }}
          </td>
        </tr>
        <tr>
          <th>Bits (difficulty target)</th>
          <td>
            {{ block_details.bits }}
          </td>
        </tr>
        <tr>
          <th>Version</th>
          <td>
            {{ block_details.ver }}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">
            <a href="{{ api_url }}" class="btn btn-default">
              <i class="fa fa-code"></i> 
              API Call
            </a>
            <a href="http://dev.blockcypher.com/#blocks" class="btn btn-default">
              <i class="fa fa-external-link"></i> 
              API Docs
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <h2>{{ block_details.n_tx|intcomma }} Transactions</h2>

  <div class="section pager">
    <div class="row">
      <div class="col-sm-4 text-left">
      {% if current_page > 1 %}
        <a href="?page={{ current_page|add:-1|intcomma }}" class="btn btn-default">
          <i class="fa fa-angle-double-left"></i> 
          Previous Page
        </a>
      {% endif %}
      </div>

      <div class="col-sm-4 text-center">
        Page {{ current_page|intcomma }} of {{ max_pages|intcomma }}
      </div>

      <div class="col-sm-4 text-right">
      {% if current_page < max_pages %}
        <a href="?page={{ current_page|add:1|intcomma }}" class="btn btn-default">
          Next Page
          <i class="fa fa-angle-double-right"></i>
        </a>
      {% endif %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

{% if block_details.txids %}

  {% for transaction in block_details.txids %}

    <div class="well">
      <h4 class="text-center truncate">
        <i class="fa fa-exchange"></i> 
        <a href="{% url 'transaction_overview' coin_symbol transaction.hash %}">
          {{ transaction.hash }}
        </a>
      </h4>

      <div class="col-md-5">
        <h4 class="text-center">Inputs Consumed ({{ transaction.vin_sz }})</h4>
      {% for input in transaction.inputs %}
        <div class="txn-input truncate">
          <strong>
            {{ input.output_value|satoshis_to_btc_rounding }}
            {{ coin_symbol|coin_symbol_to_currency_name }}
          </strong>
        {% if input.addresses|length == 0 %}
          {# the coinbase! #}
          from Block Reward
        {% else %}
          from<br>
          <i class="fa fa-qrcode"></i> 
          <a href="{% url 'address_overview' coin_symbol input.addresses.0 %}">{{ input.addresses.0 }}</a>
        {% endif %}
        </div>
      {% endfor %}
      {% if inputs|length < transaction.vin_sz %}...{% endif %}
      </div>
      <div class="col-md-2">
        <div class="txn-arrow"></div>
      </div>
      <div class="col-md-5">
        <h4 class="text-center">Outputs Created ({{ transaction.vout_sz }})</h4>
      {% for output in transaction.outputs %}
        <div class="txn-output truncate">
          <strong>
            {{ output.value|satoshis_to_btc_rounding }} {{ coin_symbol|coin_symbol_to_currency_name }}
          </strong>

          {% if output.script_type == 'null-data' %}
            {# TODO: add explanation #}
            <a href="https://bitcoin.org/en/developer-guide#term-null-data">Null Data Transaction</a>
          {% elif output.script_type == 'pay-to-multi-pubkey-hash' %}
            <a href="http://dev.blockcypher.com/#transactions">Multi-Pubkey Hash</a>
          {% elif output.script_type == 'unknown' %}
            <a href="http://dev.blockcypher.com/#transactions">Unknown Script Type</a>
          {% else %}
            to<br>
            <i class="fa fa-qrcode"></i> 
            <a href="{% url 'address_overview' coin_symbol output.addresses.0 %}">{{ output.addresses.0 }}</a>
            {% if output.spent_by %}
              (<a href="{% url 'transaction_overview' coin_symbol output.spent_by %}">spent</a>)
            {% else %}
              (unspent)
            {% endif %}
          {% endif %}

        </div>
      {% endfor %}
      {% if outputs|length < transaction.vout_sz %}...{% endif %}
      </div>

      <div class="clearfix"></div>
    </div>
  {% endfor %}

  <div class="section pager">
    <div class="row">
      <div class="col-sm-4 text-left">
      {% if current_page > 1 %}
        <a href="?page={{ current_page|add:-1|intcomma }}" class="btn btn-default">
          <i class="fa fa-angle-double-left"></i> 
          Previous Page
        </a>
      {% endif %}
      </div>

      <div class="col-sm-4 text-center">
        Page {{ current_page|intcomma }} of {{ max_pages|intcomma }}
      </div>

      <div class="col-sm-4 text-right">
      {% if current_page < max_pages %}
        <a href="?page={{ current_page|add:1|intcomma }}" class="btn btn-default">
          Next Page
          <i class="fa fa-angle-double-right"></i>
        </a>
      {% endif %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

{% else %}
  <p>In rare cases it is possible for a block to be empty. <a href="#">More info</a>.</p>
{% endif %}

</div>

{% endblock content %}

