{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block page_header %}
  <h1>{% trans "Change Password" %}</h1>
{% endblock page_header %}

{% block content %}

<div class="form-page">
  <div class="container">
    <div class="row">
       <div class="col-md-4 col-md-offset-4">

        <div class="form-well">
          <form role="form" method="post" action="{% url "change_password" %}">
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <p class="text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Change Password" %}</button>
            </p>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}


