{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}
{% load static %}

{% block title %}
    Block Explorer Highlights
{% endblock title %}

{% block page_header %}
  <div class="row">
    <h1>Block Explorer Highlights</h1>
  </div>
{% endblock page_header %}

{% block content %}

<div class="container">

  <div class="section">
    <p>
      Our free block explorer is different, here are some of the things you can do here that you won't find elsewhere:
    </p>
    <ul>
      <li>
        <a href="{% url 'latest_unconfirmed_tx' 'btc' %}">Confirmation Predictions</a>
        -
        We're the only site that can predict the probability that a transaction will confirm.
      </li>
      <li>
        <a href="{% url 'coin_overview' 'btc' %}">Fee Estimates</a>
        -
        Get detailed network stats on how large a transaction fee you need to pay
        to be included quickly in a block.
      </li>
      <li>
        <a href="{% url 'add_metadata' 'btc' %}">Upload Public Metadata to the Blockchain</a> (beta)
        -
        Upload a public key-value string of text to blockcypher's servers that will be viewable on the block explorer and via API.
        Here are examples of this uploaded data on a bitcoin
        <a href="{% url 'transaction_overview' 'btc' '29a3efd3ef04f9153d47a990bd7b048a4b2d213daaa5fb8ed670fb85f13bdbcf' %}#metadata">transaction</a>,
        <a href="{% url 'address_overview' 'btc' '14rE7Jqy4a6P27qWCCsngkUfBxtevZhPHB' %}#metadata">address</a>, &
        <a href="{% url 'block_overview' 'btc' '000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f' %}#metadata">block</a>.
      </li>
      <li>
        <a href="{% url 'widgets_overview' 'btc' '1BTCorgHwCg6u2YSAWKgS17qUad6kHmtQW' %}">Embeddable Widgets</a>
        -
        Copy-paste a short HTML snippet and embed blockchain info into your website.
        Great for showcasing how many donations you've gotten.
      </li>
      <li>
        <a href="{% url 'latest_unconfirmed_tx' 'btc' %}">Fastest Most Recent Transactions</a>
        -
        See transactions long before they appear in other block explorers.
      </li>
      <li>
        <a href="https://github.com/blockcypher/explorer">Open Source</a>
        -
        See how this works, run your own version of the site, and submit pull requests.
      </li>
    </ul>
    <p>
      We also have a number of cool tools like
      <a href="{% url 'pushtx_forwarding' %}">push tx</a> &
      <a href="{% url 'decodetx_forwarding' %}">decoderawtransaction</a>.
    </p>
  </div>

</div>
{% endblock content %}

