{% extends "base.html" %}

{% block content %}
{% load i18n %}

<form role="form" method="post" action="{% url "home" %}">
  {% load crispy_forms_tags %}
  {{ form|crispy }}
  {% csrf_token %}
  <p class="text-center">
    <button type="submit" class="btn btn-primary btn-lg">{% trans "Search" %} </button>
  </p>
</form>

<br />
<p>
Here are the pages for every coin we support:
<a href="{% url 'coin_overview' 'btc' %}">Bitcoin</a>,
<a href="{% url 'coin_overview' 'btc-testnet' %}">Bitcoin Testnet</a>,
<a href="{% url 'coin_overview' 'ltc' %}">Litecoin</a>,
<a href="{% url 'coin_overview' 'uro' %}">URO</a>, and
<a href="{% url 'coin_overview' 'bcy' %}">Blockcypher Testnet</a>.
</p>

{% endblock content %}
