{% extends "base.html" %}

{% block content %}
{% load i18n %}

<div class="bg-primary-gradient page-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <h1>Search the blockchain</h1>
        <p class="lead">Find info that other block explorers don't have</p>

        <form role="search" method="post" action="{% url "home" %}">
          {% csrf_token %}
          <input type="hidden" value="btc" id="id_coin_symbol" name="coin_symbol">
          <input type="hidden" value="" id="search_filter" name="search_filter">

          <div class="input-group input-group-lg">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span id="search-dropdown-label">BTC</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0);" onclick="setCoin('btc', 'BTC')">Bitcoin</a></li>
                <li><a href="javascript:void(0);" onclick="setCoin('btc-testnet', 'BTC Testnet')">Bitcoin Testnet</a></li>
                <li><a href="javascript:void(0);" onclick="setCoin('ltc', 'LTC')">Litecoin</a></li>
                <li><a href="javascript:void(0);" onclick="setCoin('doge', 'DOGE')">DogeCoin</a></li>
                <li><a href="javascript:void(0);" onclick="setCoin('uro', 'URO')">URO</a></li>
                <li><a href="javascript:void(0);" onclick="setCoin('bcy', 'BC Testnet')">Blockcypher Testnet</a></li>
              </ul>
            </div>
            <input autofocus class="form-control" id="id_search_string" maxlength="128" name="search_string" type="search" placeholder="Example: 16Fg2yjwrbtC6fZp61EV9mNVKmwCzGasw5">
          </div>

          <p class="help-block search-filter">
            Enter an 
            <a href="javascript:void(0);" onclick="filterSearch('address', this)">address</a>, 
            <a href="javascript:void(0);" onclick="filterSearch('tx_hash', this)">transaction hash</a>, 
            <a href="javascript:void(0);" onclick="filterSearch('block_hash', this)">block hash</a>, or 
            <a href="javascript:void(0);" onclick="filterSearch('block_num', this)">block number</a>.
          </p>

          <p class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-xl">
              <i class="fa fa-search"></i> 
              {% trans "Search" %}
            </button>
          </p>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container">

    <div class="row text-center">
      <h2>Browse the Blockchain</h2>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <a href="{% url 'coin_overview' 'btc' %}" class="btc coin">
          <span class="mpsb">Bitcoin</span>
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <a href="{% url 'coin_overview' 'btc-testnet' %}" class="btc-testnet coin">
          <span class="mpsb">Bitcoin Testnet</span>
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <a href="{% url 'coin_overview' 'ltc' %}" class="ltc coin">
          <span class="mpsb">Litecoin</span>
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <a href="{% url 'coin_overview' 'doge' %}" class="doge coin">
          <span class="mpsb">DogeCoin</span>
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <a href="{% url 'coin_overview' 'uro' %}" class="uro coin">
          <span class="mpsb">URO</span>
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
        <a href="{% url 'coin_overview' 'bcy' %}" class="bc-testnet coin">
          <span class="mpsb">BlockCypher Testnet</span>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block extra_js %}
  <script>

    function filterSearch(filter, that) {
      //Update search input
      var coin_symbol_selected = $('#id_coin_symbol').val();
      var search_placeholders = {
        'btc': {
          'address': '16Fg2yjwrbtC6fZp61EV9mNVKmwCzGasw5',
          'tx_hash': '2509e5b65ed362557fcf2104e89f3c2430ceecc6a3275556c1b966eb641fe092',
          'block_hash': '0000000000000000001e847e71b955482dab7228f4849a4659c0cf5cf323f247',
          'block_num': '330,027',
        },
        'btc-testnet': {
          'address': '2N1rjhumXA3ephUQTDMfGhufxGQPZuZUTMk',
          'tx_hash': '7f827d4a3ae3b6e408fa1737f12f9dbfa2bb8fd79e0e3e63256a6e78310790a4',
          'block_hash': '00000000b5017a924643958b430f073608142bf72a3cec1bfe30fed460246737',
          'block_num': '308,576',
        },
        'ltc': {
          'address': 'LcFFkbRUrr8j7TMi8oXUnfR4GPsgcXDepo',
          'tx_hash': '3826e17bbac2724cd74b7377f0bd1489a82440d651016adda0132c42a179ad02',
          'block_hash': '515683dee4ea5ec9341450b4f6a6c9f842a75680e96ee130bf8605e785ad59ff',
          'block_num': '675,566',
        },
        'doge': {
          'address': 'D7Y55r6Yoc1G8EECxkQ6SuSjTgGJJ7M6yD',
          'tx_hash': '28132b9676b227f16bb687f49139fbb38d185caba4533a8c36d49f0fa470d83a',
          'block_hash': '3c36f6b2abcc2e30111b997e551336db60bead9a0cd3c03fb192110bfbfe1841',
          'block_num': '460,882',
        },
        'uro': {
          'address': 'Uhf1LGdgmWe33hB9VVtubyzq1GduUAtaAJ',
          'tx_hash': 'edb1537e92acb934890baf29794b45a5f30e6e648f376b1d2c5f50509ab10d29',
          'block_hash': '00000000005ce75d7668175a10f0d402e985b3ae0bdde50adece45c1772aba4b',
          'block_num': '85,430',
        },
        'bcy': {
          'address': 'CFr99841LyMkyX5ZTGepY58rjXJhyNGXHf',
          'tx_hash': '48cebffe1ed93ae2ce758abb52375cc7f89ecc94fd8244f6a9f6dd07463fc1cb',
          'block_hash': '0000a577e78b310c7a5fe75abfc70f8f638aa56aae33552955c2becf509cd19a',
          'block_num': '32,528',
        },
      }

      $('#id_search_string').val(search_placeholders[coin_symbol_selected][filter]);
      $('#search_filter').val(filter);

      $('.search-filter .active').removeClass('active');
      $(that).addClass('active');
    }

    $(document).ready(function(){

      $( "#id_search_string" ).keydown(function() {
        // Mark any suggestions as no longer a suggestion
        $('.search-filter .active').removeClass('active');
      });

    })

  </script>
{% endblock extra_js %}
