{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Set a Password" %}{% endblock title %}

{% block content %}

<div class="page-header">
  <div class="container">
    <h1>
      {% trans "Set a Password" %}
    </h1>
  </div>
</div>

<div class="form-page">
  <div class="container">
    <div class="row">

      <p>Please set a password to login to your account in the future.</p>

      <div class="col-md-4 col-md-offset-4">
        <div class="form-well">
          <form role="form" method="post" action="{% url 'password_upsell' %}">
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <p class="text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Set Password" %}</button>
            </p>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}
