{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}
{% load static %}

{% block title %}
  Push Raw {{ coin_symbol|coin_symbol_to_display_name }} Hexadecimal Transaction
{% endblock %}

{% block page_header %}
  <h1>
    <i class="fa fa-send"></i> 
    Broadcast Your Transaction
  </h1>
{% endblock page_header %}

{% block content %}

<div class="section">
  <div class="container">

    <form role="form" method="post" action="{% url 'push_tx' coin_symbol %}">
      {% load crispy_forms_tags %}
      {{ form|crispy }}
      {% csrf_token %}
      <p class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">{% trans "Broadcast Transaction" %} </button>
      </p>
    </form>

    <p class="text-center">
      Not ready to broadcast?
      <a href="{% url 'decode_tx' coin_symbol %}">Click here</a>
      to decode a raw transaction without broadcasting.
    </p>

  </div>
</div>

{% endblock content %}
