{% load btc_formats %}

<html>
  <head>
    <title></title>
    {# Bootstrap core CSS #}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    {# FontAwesome #}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body>
    <a target="_blank" href="{{ BASE_URL }}{% url 'address_overview' coin_symbol b58_address %}" class="btn btn-default">

      <i class="fa fa-qrcode"></i> 
      {{ b58_address }}

      <h4>
        {{ address_overview.total_received|satoshis_to_btc_rounding }} {{ coin_symbol|coin_symbol_to_currency_name }}
        Received
      </h4>

    </a>

    <p align="center">
      <a class="text-muted" href="http://www.blockcypher.com/">Powered by BlockCypher</a>
    </p>

  </body>
</html>
