{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}

{% block content %}

<h1>{{ coin_symbol|coin_symbol_to_display_name }} Transaction</h1>

{% if tx_hash %}

  <div class="table-responsive">
    <table class="table table-bordered">
      <th colspan="2">
        <a href="{% url 'transaction_overview' coin_symbol tx_hash %}">{{ tx_hash }}</a>
      </th>
      {% if is_coinbase_tx %}
        <tr>
          <td>Amount Transacted</td>
          <td>{{ total_satoshis_coinbase|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
        <tr>
          <td>Fees Collected</td>
          <td>{{ fee_in_satoshis_coinbase|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
      {% else %}
        <tr>
          <td>Amount Transacted</td>
          <td>{{ total_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
        <tr>
          <td>Fees</td>
          <td>{{ fee_in_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
      {% endif %}
      <tr>
        <td>Confirmations</td>
        <td>
          {{ num_confirmations|intcomma }}
        </td>
      </tr>
      <tr>
        <td>Received</td>
        <td>
          {{ time_to_use|naturaltime }}
        </td>
      </tr>
      {% if block_height %}
        <tr>
          <td>In Block</td>
          <td>
            <a href="{% url 'block_overview' coin_symbol block_height %}">{{ block_height|intcomma }}</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td>Confidence</td>
          <td>
            {{ confidence_pct|floatformat }}% chance of making it into a block
          </td>
        </tr>
        <tr>
          <td>Miner Preference</td>
          <td>{{ preference }}</td>
        </tr>
        <tr>
          <td>Memory Pools With Tx</td>
          <td>{{ receive_cnt }}</td>
        </tr>
        <tr>
          <td>Double-Spend Detected</td>
          <td>{% if double_spend_detected %}YES{% else %}No{% endif %}</td>
        </tr>
      {% endif %}
      {% if relayed_by %}
        <tr>
          <td>Relayed By</td>
          <td>{{ relayed_by }}</td>
        </tr>
      {% endif %}
    </table>
  </div>

  <h4>Details</h4>
  <div class="table-responsive">
    <table class="table table-bordered">
      <th>Inputs Consumed ({{ num_inputs }})</th>
      <th>Outputs Created ({{ num_outputs }})</th>
      <tr>
        <td>
          {% for input in inputs %}
            {{ input.output_value|satoshis_to_btc_rounded }}
            {{ coin_symbol|coin_symbol_to_currency_name }}
            {% if input.addresses|length == 0 %}
              {# the coinbase! #}
              from Block Reward
            {% else %}
              {# TODO: |first is a hack #}
              from <a href="{% url 'address_overview' coin_symbol input.addresses|first %}">{{ input.addresses|first }}</a>
            {% endif %}
            <br />
          {% endfor %}
          {% if inputs|length < num_inputs %}...{% endif %}
        </td>
        <td>
          {% for output in outputs %}
            {# TODO: |first is a hack #}
            {{ output.value|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
            to <a href="{% url 'address_overview' coin_symbol output.addresses|first %}">{{ output.addresses|first }}</a>
            {% if output.spent_by %}
              (<a href="{% url 'transaction_overview' coin_symbol output.spent_by %}">spent</a>)
            {% else %}
              (unspent)
            {% endif %}
            <br />
          {% endfor %}
          {% if output|length < num_outputs %}...{% endif %}
        </td>
      </tr>
    </table>
  </div>

{% else %}
  <p>
    Transaction not found.
    Are you sure that's a valid transaction hash?
  </p>
{% endif %}

{% endblock content %}

