{% extends "base.html" %}

{% load i18n %}
{% load humanize %}
{% load btc_formats %}

{% block content %}

<h1>{{ coin_symbol|coin_symbol_to_display_name }} Transaction</h1>

{% if tx_hash %}

  <div class="table-responsive">
    <table class="table table-bordered">
      <th colspan="2">
        <a href="{% url 'transaction_overview' coin_symbol tx_hash %}">{{ tx_hash }}</a>
      </th>
      {% if is_coinbase_tx %}
        <tr>
          <td>Amount Transacted</td>
          <td>{{ total_satoshis_coinbase|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
        <tr>
          <td>Fees Collected</td>
          <td>{{ fee_in_satoshis_coinbase|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
      {% else %}
        <tr>
          <td>Amount Transacted</td>
          <td>{{ total_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
        <tr>
          <td>Fees</td>
          <td>{{ fee_in_satoshis|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}</td>
        </tr>
      {% endif %}
      <tr>
        <td>Received</td>
        <td>
          {{ time_to_use|naturaltime }}
        </td>
      </tr>
      <tr>
        <td>Confirmations</td>
        <td id="num-confs">
          {{ num_confirmations|intcomma }}
        </td>
      </tr>
      <tr {% if block_hash %} style="display:none;"{% endif %}>
        <td>Double-Spend Detected</td>
        <td>{% if double_spend_detected %}YES{% else %}No{% endif %}</td>
      </tr>
      <tr{% if not block_hash %} style="display:none;"{% endif %}>
        <td>In Block</td>
        <td>
          <a href="{% url 'block_overview' coin_symbol block_hash %}">{{ block_hash }}</a>
        </td>
      </tr>
      <tr {% if block_hash %} style="display:none;"{% endif %} id="confidence-section">
        <td>Confidence</td>
        <td>
          {{ confidence_pct|floatformat }}% chance of making it into a block
        </td>
      </tr>
      <tr {% if block_hash %} style="display:none;"{% endif %} id="preference-section">
        <td>Miner Preference</td>
        <td>{{ preference }}</td>
      </tr>
      <tr {% if block_hash %} style="display:none;"{% endif %} id="pools-section">
        <td>Memory Pools With Tx</td>
        <td>{{ receive_cnt }}</td>
      </tr>
      {% if relayed_by %}
        <tr>
          <td>Relayed By</td>
          <td>{{ relayed_by }}</td>
        </tr>
      {% endif %}
    </table>
  </div>

  <h4>Details</h4>
  <div class="table-responsive">
    <table class="table table-bordered">
      <th>Inputs Consumed ({{ num_inputs }})</th>
      <th>Outputs Created ({{ num_outputs }})</th>
      <tr>
        <td>
          {% for input in inputs %}
            {{ input.output_value|satoshis_to_btc_rounded }}
            {{ coin_symbol|coin_symbol_to_currency_name }}
            {% if input.addresses|length == 0 %}
              {# the coinbase! #}
              from Block Reward
            {% else %}
              {# TODO: |first is a hack #}
              from <a href="{% url 'address_overview' coin_symbol input.addresses|first %}">{{ input.addresses|first }}</a>
            {% endif %}
            <br />
          {% endfor %}
          {% if inputs|length < num_inputs %}...{% endif %}
        </td>
        <td>
          {% for output in outputs %}
            {# TODO: |first is a hack #}
            {{ output.value|satoshis_to_btc_rounded }} {{ coin_symbol|coin_symbol_to_currency_name }}
            to <a href="{% url 'address_overview' coin_symbol output.addresses|first %}">{{ output.addresses|first }}</a>
            {% if output.spent_by %}
              (<a href="{% url 'transaction_overview' coin_symbol output.spent_by %}">spent</a>)
            {% else %}
              (unspent)
            {% endif %}
            <br />
          {% endfor %}
          {% if outputs|length < num_outputs %}...{% endif %}
        </td>
      </tr>
    </table>
  </div>

  {% if is_coinbase_tx and coinbase_msg %}
    <p>
    Coinbase Message: {{ coinbase_msg }}
    </p>
  {% endif %}

{% else %}
  <p>
    Transaction not found.
    Are you sure that's a valid transaction hash?
  </p>
{% endif %}

{% endblock content %}


{% block extra_js %}
  <script>

    $(document).ready(function(){

      var total_ws_received = 0;
      var MAX_WS_TO_RECEIVE = 1000;

      function create_ws() {
        console.log('Creating new websocket...');
        ws = new WebSocket('{{ coin_symbol|coin_symbol_to_wss }}');
      }

      create_ws();

      function send_ping() {
        // Send pings at regular interval:
        if (total_ws_received < MAX_WS_TO_RECEIVE) {
          console.log('Sending websocket ping...');
          ws.send(JSON.stringify({event: "ping"}));
          // Trigger self recursively
          setTimeout(send_ping, 20000);
        } else {
          console.log('Not sending ping because MAX_WS_TO_RECEIVE reached');
        }
      }

      ws.onmessage = function(evt) {

        var data = JSON.parse(evt.data);
        console.log('Websocket Received: ' + evt.data);

        // Weak protection against too much activity
        total_ws_received += 1;
        if (total_ws_received > MAX_WS_TO_RECEIVE) {
          ws.close();
        }

        if ( data.hash ) {

          // Update # confirmations
          console.log('Transaction now has ' + data.confirmations + 'confirmations');
          $('#num-confs').text(data.confirmations);
          $('#num-confs').hide().fadeIn();

          // Hide miner pref, memory pools, confidence
          $('#preference-section').fadeOut();
          $('#pools-section').fadeOut();
          $('#confidence-section').fadeOut();


        }

      }

      ws.onopen = function() {
        console.log('Connection established.');
        ws.send(JSON.stringify(
          {
            'hash': "{{ tx_hash }}",
            'event': 'tx-confirmation',
            {# UGLY HACK #}
            'address': "{{ outputs.0.addresses.0 }}",
          }
        ));
        send_ping();
      };

      ws.onclose = function() {
        console.log('Connection closed');
        if (total_ws_received < MAX_WS_TO_RECEIVE) {
          console.log('Creating new websocket to replace old one...');
          create_ws();
        }

      };

    })

  </script>
{% endblock extra_js %}
